#funnyPic {
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: none;
}

@keyframes shake {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    25% { transform: translate(-48%, -52%) rotate(3deg); }
    50% { transform: translate(-50%, -50%) rotate(0deg); }
    75% { transform: translate(-52%, -48%) rotate(-3deg); }
    100% { transform: translate(-50%, -50%) rotate(0deg); }
}
